%tr
  %td
    = raid.type_of_raid
  %td
    = raid.raided_at
  %td
    = raid.zip_code
  %td
    = raid.clients.size
  %td
    = raid.raids_clients.select(&:arrested).size    
  %td
    = raid.name_of_answerer
  %td
    = raid.age_of_answerer
  %td
    = raid.how_did_ice_make_its_presence_known
  %td
    = raid.narrative_of_door_interaction
  %td
    = raid.narrative_of_entrance
  %td
    = raid.narrative_of_interaction_inside_home
  %td
    = raid.notes
  %td
    = link_to 'show', raid_path(raid)
  %td
    = link_to 'edit', edit_raid_path(raid)
