%tr
  %td
    = client.name
  %td
    = client.address
  %td
    = client.gender
  %td
    = client.country_of_origin
  %td
    = client.started_us_residence_at
  %td
    = client.family_in_us
  %td
    = client.notes
  %td
    = client.contact_phone_number
