= semantic_form_for(@client, html: { class: 'form-horizontal' }) do |f|
  = f.semantic_errors(*f.object.errors.keys)

  .form-group
    = f.label :name, class: 'col-sm-4 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :address, class: 'col-sm-4 control-label'
    .col-sm-10
      = f.text_field :address, class: 'form-control'
  .form-group
    = f.label :gender, class: 'col-sm-4 control-label'
    .col-sm-10
      = f.select :gender, gender_options, include_blank: true, class: 'form-control'
  .form-group
    = f.label :country_of_origin, class: 'col-sm-4 control-label'
    .col-sm-10
      = f.select :country_of_origin, country_options, include_blank: true, class: 'form-control'
  .form-group
    = f.label :started_us_residence_at, class: 'col-sm-4 control-label'
    .col-sm-4
      = f.date_field :started_us_residence_at, class: 'form-control'
  .form-group
    = f.label :family_in_us?, class: 'col-sm-4 control-label'
    .col-sm-10
      = f.check_box :family_in_us, class: 'form-control'
  .form-group
    = f.label :contact_phone_number, class: 'col-sm-4 control-label'
    .col-sm-4
      = f.telephone_field :contact_phone_number, class: 'form-control'
  .form-group
    = f.label :notes, class: 'col-sm-4 control-label'
    .col-sm-10
      = f.text_area :notes, class: 'form-control'

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
